name: Update README

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Nanum Gothic
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-nanum

      - name: Install Dependencies
        run: pip install matplotlib pytz

      - name: Run Update Script
        run: python .github/scripts/update_readme.py

      - name: Commit & Push
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add README.md assets/*.svg assets/*.png solve_history.json
          git commit -m "AUTO: Update README Dashboard" || echo "No changes"
          git push
